body {
  background: #29a329;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.top-h2 {
  text-align: center;
  margin-top: 50px;
}

.logout-btn {
  float: right;
}

.btn.btn-complete {
  background-color: green;
  color: white;
}

.home-btns {
  text-align: center;
  padding-left: 0px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: inherit;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit-user {
  margin: 50px auto 0 auto;
  width: 700px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

table, th , td  {
  border: none;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
