<ul>
  <button ui-sref="index" class="logout-btn">Logout</button>
</ul>
<h2>Task manager</h2>
<div class="hero-unit" ng-controller='UserTasksCtrl'>
  <p>Hey, there {{ loggedUser.username }}!</p>
  <form>  
    <h3><strong>Pick a day:</strong></h3>
    <!-- Adding the dateTimePicker -->
    <adm-dtp ng-model='date'></adm-dtp>
    <!-- Adding the dateTimePicker -->
    <h3><strong>Pick time:</strong></h3>
    <select>
      <option value="morning">Morning</option>
      <option value="afternoon">Afternoon</option>
      <option value="evening">Evening</option>
    </select
    <br>

    <h3><strong>Tasks:</strong></h3>
    <select>
      <option value="trash">Move trash</option>
      <option value="mail">Get mail</option>
      <option value="security">Security check</option>
      <option value="move_car">Move car</option>
      <option value="feed_pet">Feed pet</option>
    </select
    
    <h3><strong>Notes:</strong></h3>  
    <input type="text" rows=7 cols=6 name="firstname"><br>

    <br><button class='btn btn-lg btn-primary btn-block'>Submit</button>
  </form>
  <h3><strong>My Tasks:</strong></h3>
  <ul>
    <li ng-repeat="task in tasks">{{ task }}</li>
  </ul>

  <h3>Site under construction...</h3>
</div>
