<h2 align="center">Welcome to handy guy</h2>
<div class="hero-unit">
  <h3>Sign up</h3><br>
  <form ng-submit='userSignUp()' ng-controller='UserSignUpCtrl'>
    <input type='text' class='form-control' ng-model='name' placeholder='First and last name' required=''><br>
    <input type='text' class='form-control' ng-model='username' placeholder='Enter user name' required=''><br>
    <input type='email' class='form-control' ng-model='email' placeholder='Email address' autofocus='' required=''><br>
    <input type='address' class='form-control' ng-model='address' placeholder='Address' required=''><br>
    <input type='phone' class='form-control' ng-model='phone' placeholder='Phone number' required=''><br>
    <input type='password' class='form-control' ng-model='password' placeholder='Password' required=''><br>
    <!-- <input type='password' class='form-control' name='verification' placeholder='Password' required='' match='verification' match='password'><br> -->
    <button class='btn btn-lg btn-primary btn-block'>Submit</button>
  </form>
</div>