<!--
<h2>Welcome to handy guy....!</h2>
<div class="hero-unit">
  <h1>Login</h1>
  <form ng-submit='sitterLogin()' ng-controller='SitterLoginCtrl'>
    <input type='text' ng-model='sittername' placeholder='Enter username'>
    <input type='password' ng-model='password' placeholder='Password'>
    <button>Submit</button>
  </form>
</div>
-->

<div class="container w-xxl w-auto-xs" ng-controller="SitterLoginCtrl" >
  <a href class="navbar-brand block m-t"><h1> HouzSit </h1></a>
  <div class="m-b-lg">
    <h3 class="navbar-brand block m-t" >Sitter Login</h3>
  </div>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="test" placeholder="Username" class="form-control no-border" ng-model="sitter.username" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="sitter.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="sitterLogin()" ng-disabled='form.$invalid'>Log in</button>
      <!-- <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div> -->
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Want to join the sitter team?</small></p>
      <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Sitter Signup</a>
      <div class="text-center m-t m-b"><a ui-sref="userLogin">User login</a></div>
    </form>
  </div>
</div>
