<h2 class='top-h2'>Hey, there {{ sitter.username }}!</h2>
<div class="hero-unit">
  <h1>Hey, there!</h1>
  <p>Your requested tasks:</p>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{ thing }}</li>
  </ul>
  <p>installed.</p>

  <h3><strong>Your requested tasks</strong></h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>Status</th>
      <th>Time</th>
      <th>Notes</th>
    </tr>
    <tr ng-repeat="task in myTasks" ng-if="$index < 10">
      <td>{{ task.date }}</td>
      <td>{{ task.task }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.time }}</td>
      <td>{{ task.notes }}</td>
    </tr>
  </table>
 
</div>
