<h2 class='top-h2'>Hey, there {{ sitter.username }}!</h2>
<div class="hero-unit">
  <h1>Hey, there!</h1>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{ thing }}</li>
  </ul>

  <h3><strong>Your requested tasks</strong></h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>Status</th>
      <th>Time</th>
      <th>Notes</th>
    </tr>
    <tr ng-repeat="task in myTasks" ng-if="$index < 10">
      <td>{{ task.date }}</td>
      <td>{{ task.task }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.time }}</td>
      <td>{{ task.notes }}</td>
    </tr>
  </table>

    <h3><strong>All Avaialable tasks</strong></h3>

    <table>
        <tr>
            <th>Date</th>
            <th>Task</th>
            <th>Status</th>
            <th>Time</th>
            <th>Notes</th>
        </tr>
        <tr ng-repeat="task in allTasks" ng-if="$index < 10">
            <td><button class='btn btn-danger' ng-click='chooseTask($index)'>Pick</button></td>
            <td>{{ task.date }}</td>
            <td>{{ task.task }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.time }}</td>
            <td>{{ task.notes }}</td>
        </tr>
    </table>

</div>
