<!--
<ul>
  <button ui-sref="index">Home</button>
</ul>
<h2>Welcome to handy guy!</h2>
<div class="hero-unit">
<ul class='home-btns'>
  <button ui-sref="userLogin">User Login</button>
  <button ui-sref="userSignUp">User Sign up</button>
  <button ui-sref="sitterLogin">Sitter Login</button>
  <button ui-sref="sitterSignUp">Sitter Sign up</button>
</ul>
  <h3>Need someone to watch your house while you are gone?</h3>
  <h3>No problem! Handy men are ready to help!</h3>
  <h3>Verified professionals
100% money-back guarantee
Friendly 24/7 customer service
Affordable pricing</h3>
<!   replace with handy tasks examples
 --><!--     <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  <h3>Site under construction...</h3>
</div>
 -->

<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">HouzSit</a>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
      <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div>
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Do not have an account?</small></p>
      <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a>
    </form>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>

