<h2>Welcome to handy guy!</h2>
<div class="hero-unit">
<ul class='home-btns'>
  <button ui-sref="userLogin">User Login</button>
  <button ui-sref="userSignUp">User Sign up</button>
  <button ui-sref="sitterLogin">Sitter Login</button>
  <button ui-sref="sitterSignUp">Sitter Sign up</button>
</ul>
  <h3>Need someone to watch your house while you are gone?</h3>
  <h3>No problem! Handy men are ready to help!</h3>
  <h3>Verified professionals
100% money-back guarantee
Friendly 24/7 customer service
Affordable pricing</h3>
<!--   replace with handy tasks examples
 --><!--     <li ng-repeat="thing in awesomeThings">{{thing}}</li>
 -->
  <h3>Site under construction...</h3>
</div>
